<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Atualizar Cadastro</title>
</head>
<body>
    <h1>Alterar Dados do Usuário</h1>
    
    <form action="/users/update/<%= user._id %>" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            
        <div>
            <label>Nome Completo:</label>
            <input type="text" name="nome_usuario" value="<%= user.nome %>" required>
        </div>
        <br>
        <div>
            <label>Função/Cargo:</label>
            <input type="text" name="cargo_usuario" value="<%= user.cargo %>" required>
        </div>
        <br>
        <button type="submit">Confirmar Edição</button>
    </form>
    <br>
    <a href="/users">Voltar para a lista</a>
</body>
</html>